@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "./header";

@mixin border {
    border: 0.1rem black  solid;
    border-radius: 15px; 
}

$primaryColor:rgb(35, 173, 8);
$hoverColor: rgb(25, 114, 52);
$textColor: rgb(255, 255, 255);

body{
    background-image: url("../pitchImage.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Alfa Slab One",Arial, Helvetica, sans-serif;
}

#leagues {
    button {
        @include border();
        background-color: $primaryColor;
        color: $textColor;
        font-size: 1.5rem;

        &:hover {
            background-color: $hoverColor;
            border-radius: 15px;
        }
    }
}

#teams {
    @include border();
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: $primaryColor;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    img {
        height: 15rem;
        width: 15rem;
    }

    .team {
        margin: 1rem;
        border-radius: 15px;
        color: $textColor;

        &:hover {
            background-color: $hoverColor;
        }
    }
}